body {
    background: black;
    color: white;
    font-family: Helvetica;
    font-size: 11px;
    padding: 10px;
}

h1 {
    color: rgb(255, 203, 5); /* rgb value */
    text-align: center;
    font-size: 50px;
    padding-left:10px;
    padding-right: 25px;
}

.big_div {
    border: 3px solid #2E549B; /* hex value */
    margin: 30px;
    padding: 25px;
    font-size: 20px;
}

.pokemon_name {
    text-align: center;
    font-size: 38px;
    font: bold;
    margin: 5px;
    padding: 5px;
}

.sub_div {
    display: flex;
    font-size: 20px;
    font: bold;
    
    
}

img {
    width: 250px;
    height: 250px;
    padding: 50px;
}

#special {
    font-weight: bold;
    color: rgb(255, 203, 5); /* rgb value */
}